html,body {
  min-width: 290px;
  color: hsl(230, 50%, 98%);
  background-color: hsla(82, 62%, 38%, 0.803);
  background-image: url('Bamboo.jfif');
  background: linear-gradient( rgba(76, 105, 22, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/imgbcc.jpg");
  background-repeat: repeat;
  background-size: cover;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#sidebar {
  position: fixed;
  min-width: 290px;
  top: 0px;
  left: 0px;
  width: 300px;
  height: 100%;
  border-right: solid;
  border-color:rgba(2, 10, 10, 0.4);
}

h2 {
  color: #fffbfb;
  margin: 10px;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
}

#documentation h2 {
  text-align: left;
  margin: 0px;
}

#sidebar ul {
  height: 88%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#sidebar li {
  color: hsl(240, 40%, 98%);
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}

#sidebar .nav-item {
  display: block;
  padding: 10px 30px;
  color: hsl(120, 29%, 97%);
  text-decoration: none;
  cursor: pointer;
}

#documentation {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
}

section article {
  color: hsl(228, 26%, 96%);
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

pre {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: hsl(98, 92%, 15%);
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

.hscroll {
  overflow-x: auto;
}

table {
  caption-side: bottom;
  border-collapse: collapse;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #sidebar ul {
    border: 1px solid;
    height: 207px;
  }

  #sidebar {
    background-color: #3f7204d3;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #documentation {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #documentation {
    margin-left: -10px;
  }
}
