<!DOCTYPE html>
<head>
    <title>EcoTend</title>
    <link rel="stylesheet"  href="\static\css\html,.css">
    <link rel="icon" href="\static\favicon.ico" type="image/x-icon">
</head>
<body>
  <nav id="sidebar">
    <h2>EcoTend</h2>
    <ul>
      <li><a class="nav-item" href="#Introduction">Guardian of our ecosystem</a></li>
      <li>
        <a class="nav-item" href="#imbalance">How ecosystem are imbalanced by humans ?</a>
      </li>
      <li>
        <a class="nav-item" href="#idealogy">How will this website actually function?</a>
      </li>
      <li><a class="nav-item" href="#NGOs">What are NGOs?</a></li>
      <li><a class="nav-item" href="#upload">Upload image</a></li>
      <li>
        <a class="nav-item" href="#html_paragraph">Contact US</a>
      </li>
      </ul>
  </nav>
  <main id="documentation">
    <section id="Introduction">
      <h2>Introduction</h2>
      <article>
        <p>
          Healthy ecosystems maintain a diverse array of species, which is essential for ecological resilience and potential new discoveries.
Natural processes, like those in wetlands, provide services such as water purification.
Many industries, including fisheries and tourism, depend on vibrant ecosystems.
Forests play a pivotal role in absorbing carbon dioxide, mitigating climate change effects.
Nature holds spiritual and aesthetic value in many cultures worldwide.
Studying intact ecosystems offers insights into life, interactions, and evolution.
Every species might have an intrinsic right to exist, regardless of its utility to humans.
Certain ecosystems, like mangroves, act as barriers against natural disasters such as hurricanes.
Interacting with nature enhances our psychological and physical health.
Ecosystems are interconnected; affecting one part can disrupt the whole.
For the sake of future generations, it's our duty to preserve the planet's rich diversity and resources.
Economic health is intertwined with ecological health, with many sectors relying on natural resources.
Biodiversity can lead to medical discoveries, as many drugs are derived from natural compounds.
Ecosystems help in soil conservation, preventing landslides and soil erosion.
They play a role in regulating rainfall patterns, ensuring water availability.
Pollinators, essential for food production, thrive in balanced ecosystems.
A decline in ecosystems can lead to resource wars, as seen with freshwater sources.
Habitats like coral reefs support a vast array of marine life.
Ecosystem conservation can foster community unity and cooperation.
Finally, on a fundamental level, the intrinsic beauty and wonder of nature enrich our lives.

        </p>
      </article>
    </section>
    <hr>
    <section id="imbalance">
      <h2>How ecosystem are imbalanced by humans ?</h2>
      <article>
        <pre>
          <b>Deforestation:</b> Clearing forests for agriculture or urbanization.
          <b>Pollution:</b> Dumping waste into rivers, oceans, and the atmosphere.
          <b>Overfishing:</b> Depleting fish stocks beyond sustainable levels.
          <b>Agriculture:</b> Introducing pesticides and monocultures.
          <b>Mining:</b> Stripping land and contaminating water sources.
          <b>Urbanization:</b> Expanding cities, fragmenting habitats.
          <b>Climate Change:</b> Due to excessive carbon emissions.
          <b>Land Conversion:</b> Transforming natural habitats for human use.
          <b>Dams:</b> Altering water flow and aquatic habitats.
          <b>Industrialization:</b> Emitting pollutants, affecting air and water.
          <b>Plastic Waste:</b> Polluting oceans and harming marine life.
        </pre>
      </article>
    </section>
    <hr>
    <section id="idealogy">
      <h2>How will this website actually function?</h2>
      <article>
        <p>
          Welcome to <strong>EcoTend</strong>, your neighborhood's eco-conscious platform.
          <br>
          <b>Discover & Collaborate:</b> With the rise in environmental concerns worldwide, local actions can make a significant global impact. Our platform bridges the gap between conscious citizens and active environmental organizations. By connecting with nearby NGOs and NSS clubs through our platform, you become part of a broader community working towards a greener future.
          <br>    
          <b>Spot & Report:</b> Is there a pile of unattended garbage ruining the scenic beauty of your locality? Noticed illegal dumping or deforestation activities in your nearby park? Don't just walk past it. Highlight it! With [Your Website Name], you're empowered to voice your concerns. Easily convey or upload images of environmental problems in your area. By making issues visible, you fast-track their resolution.
          <br>
          <b>Why Use Our Platform?</b>
          <br>
          <b>Localized Impact: </b>Understand and collaborate with organizations and initiatives right in your backyard.
          <br>
          <b>Empowerment:</b> Your observations can lead to actionable change.
          <b>Awareness:</b> Learn about the environmental challenges your community faces and the measures taken to combat them.
          <b>Engagement:</b> Participate in events, clean-up drives, and other community programs organized by connected NGOs and clubs.
          <b>Together for Tomorrow: </b>Our surroundings reflect our choices. By joining hands with NGOs, NSS clubs, and community members like you, we aim to foster an environment where every individual's effort counts. Let's transform our collective concerns into proactive action for a brighter, greener tomorrow.
        </p>
      <img src="static\img\environment.webp" alt="earth" width="30%" height="30%" padding="20px" style ="border-radius :50px;">  
      </article>
    </section>
    <hr>
    <section id="NGOs">
      <h2>What are NGOS?</h2>
      <article>
        <p>
          NGOs, or Non-Governmental Organizations, are nonprofit organizations that operate independently of government, usually to address social, environmental, humanitarian, or developmental concerns on local, national, or international scales. NGOs can be involved in a wide range of activities, from direct services and humanitarian aid to advocacy, policy development, and research.

Some characteristics and roles of NGOs include:
<br>
<b>Independent Nature:</b> While they might receive funding from governments or international institutions, NGOs maintain an operational independence from them.
<br>
<br>
<b>Diverse Focus:</b> They can address a wide range of issues, including human rights, environmental conservation, health, education, poverty alleviation, disaster relief, and more.
<br>
<b>Different Sizes and Structures:</b> NGOs can range from small community-based organizations to large international ones with multi-million dollar budgets. Some well-known international NGOs include Amnesty International, Greenpeace, and Doctors Without Borders.
<br>
<b>Advocacy:</b> Many NGOs play an advocacy role, lobbying governments and other influential entities to adopt policies, laws, or practices that align with their mission.
<br>
<b>Service Providers:</b> Many NGOs provide services and resources directly to communities in need, especially in areas where governments may be unable or unwilling to do so.
<br>
<b>Research and Expertise: </b>NGOs often conduct research to better understand issues, generate evidence-based solutions, and evaluate their own interventions.
<br>
<b>Awareness Raising and Education: </b>They can act as important educators and awareness-raisers on the causes they represent.
<br>
<b>Grassroots Engagement: </b>Many NGOs work at the grassroots level, connecting directly with communities and individuals affected by the issues they address.
<br>
<b>Partnerships: </b>NGOs often collaborate with other entities, including other NGOs, governments, private sector companies, and international institutions, to achieve their goals.
<br>
NGOs have played pivotal roles in many historical movements and events, from the global fight against diseases like HIV/AIDS and malaria to advocacy for human rights and environmental protection.
</p>
        <img src="static\img\ngo.png" alt="NGO image" width="30%" height="30%" padding="20x" style ="border-radius :50px;">
      </article>
    </section>
    <hr>
    <section id="upload">
      <h2>Upload images</h2>
           <form action="http://localhost:3000/templates/upload.html" method="POST" enctype="multipart/form-data">
      <p><strong>Here you can upload your image</strong></p>
      <a href="/upload">upload</a>
     </section>
    <hr>
    <section id="Contact">
      <h2>To Contact us</h2>
      <article>
        <p>
         If you have any query feel free to contact us! 
        </p>
        <adress>
          Nadar saraswathi college of engineering and technology
          <br>
          vadaputhupatti
          <br>
          theni
          <br>
        </adress>
        <a href="mailto:subiksham88@gmail.com">Email To</a>
        <br>
        <a href ="tel:+ 9443488999">Make call </a>
      </article>
    </section>
    </main>
</body></html>
